<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{text-align: center;}
        .item{
            border: 5px solid lightblue;
            margin: 50px;
            padding: 30px;
        }
    </style>
</head>
<body>
    <h1>🦁MY TEAM🦁</h1>
    <div class = "container">
    {% for team in Teammate %}
        {{blog}}
        <div class = "item">
	        <h2>{{team.name}}</h2>
	        <p>생년월일: {{team.birth}}</p>
            <p>고향: {{team.home}}</p>
            <p>거주지: {{team.location}}</p>
            <p>전공: {{team.major}}</p>
            <p>학번: {{team.studentnum}}</p>
            <p>애인유무: {{team.lover}}</p>
            <p>좋아하는 음식: {{team.food}}</p>
            <p>주량: {{team.alcohol}}</p>
            <p>꿈: {{team.dream}}</p>
        </div>
    {% endfor %}
    </div>
</body>
</html>